body {
	margin: 0;
}

main {
	margin-left: 30px;
	margin-right: 30px;
}

a:link {
	color: black;
	background-color: transparent;
	text-decoration: none;	
}

a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;	
}

a:hover {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: black;
	background-color: transparent;
	text-decoration: none;	
}

.header-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	padding: 20px 32px;
	width: 100%;
	flex-direction: row;
	font-family: sans-serif;
}

.header-container > div {
	padding: 10px;
	font-size: 20px;
}

.header-shadow {
	filter: drop-shadow(0 0 0.65rem gray);
}

.categories {
	background-color: white;
	box-sizing: border-box;
	padding: 10px;
	margin: auto;
	width: 100%;
	overflow: auto;
	margin-top: 83px;
}

.category {
	padding: 20px;
	float: left;
}

.box1 {
	display: inline-block;
	background: #eaeaea;
	width: 250px;
	height: 150px;
	border-radius: 8px;
	padding: 10px;
}

.categoryImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.categoryText {
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;
}

.product-header {
	margin-top: 83px;
	width: 100%;
	padding: 5px;
	content: "";
	clear: both;
	display: table;
	background: white;
	overflow: auto;
}

.product-header-img {
	float: right;
	padding: 50px;
}

.product-header-details {
	margin-left: 10px;
}

.box2 {
	float: left;
	display: inline-block;
	background: lightgray;
	width: 40px;
	height: 30px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
